# Database (Railway automatic qo'shadi)
DATABASE_URL=postgresql://user:password@host:5432/dbname?schema=public

# JWT Secret (o'zgartiring!)
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production

# Server
PORT=8080

# Admin Init (optional)
INIT_ADMIN_NAME=Admin
INIT_ADMIN_SURNAME=Root
INIT_ADMIN_LOGIN=admin
INIT_ADMIN_EMAIL=admin@example.com
INIT_ADMIN_PASSWORD=admin123
